body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-area: header;
  height: 90px;
  background-color: var(--yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 500px;
  padding-left: 500px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "banner-top"
    "products"
    "portfolio"
    "quality"
    "banner-bottom"
    "contact";
  grid-template-rows: repeat(6, auto);
}

#banner-top {
  grid-area: banner-top;
  height: 380px;
  background-image: url(../img/banner__background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

#products {
  grid-area: products;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portfolio {
  grid-area: portfolio;
}

#quality {
  grid-area: quality;
}

#banner-bottom {
  grid-area: banner-bottom;
}

#contact {
  grid-area: contact;
}

footer {
  grid-area: footer;
}
