body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-area: header;
  height: 90px;
  background-color: #fec63e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 500px;
  padding-left: 500px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "banner"
    "about"
    "products"
    "portfolio"
    "contact"
    "blog";
  grid-template-rows: repeat(6, auto);
}

#banner {
  grid-area: banner;
  height: 380px;
  background-image: url(../img/banner__background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#about {
  grid-area: about;
}

#products {
  grid-area: products;
}

#portfolio {
  grid-area: portfolio;
}

#contact {
  grid-area: contact;
}

#blog {
  grid-area: blog;
}

footer {
  grid-area: footer;
}
