body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-area: header;
  height: 90px;
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 500px;
  padding-left: 500px;
}

.navigation-container {
  display: flex;
  gap: 32px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "banner"
    "about"
    "products"
    "portfolio"
    "contact"
    "blog";
}

#banner {
  grid-area: banner;
}

#about {
  grid-area: about;
}

#products {
  grid-area: products;
}

#portfolio {
  grid-area: portfolio;
}

#contact {
  grid-area: contact;
}

#blog {
  grid-area: blog;
}

footer {
  grid-area: footer;
}
